<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<style type="text/css">
		body {
		  color: #fff;
		  font: 50px/1 sans-serif;
		  text-align: center;
		}
		.widget {
			background: #233a40;
			width: 84%;
			margin: 1% auto;
			padding: 1%;
		}
		.widget.error {
			background: #ff530d;
		}
		a, a:visited {
			color: #fff;
		}
	</style>
</head>

<body>
    {{{body}}}
	<script type="text/javascript">
	(function(){
	  	function fitText (els, c) {
	    var fit = function (el) {
	    	var resizer = function () {
	    		w = el.clientWidth;
	        	el.style.fontSize = w / (c * 10) + 'px';
	      	};
	      	resizer();
	      	window.addEventListener('resize', resizer, false);
	    };


	      [].forEach.call(els, function(el) {
	      	fit(el);
	      });
	  };

		fitText(document.getElementsByTagName('h1'), 1);
		fitText(document.getElementsByTagName('p'), 2);
	})();
	</script>

</body>
</html>
